.left-sidebar {
    box-shadow: none !important;
    border-right: 1px solid rgb(var(--v-theme-borderColor));

    .logo {
        padding-left: 7px;
    }

    .mini-icon {
        display: none;
    }

    .mini-text {
        display: block;
    }
}

.v-navigation-drawer--rail {
    .scroll-navbar .v-list .v-list-group__items,
    .hide-menu {
        opacity: 0;
    }

    .leftPadding {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 1170px) {
    .mini-sidebar {
        .logo {
            width: 40px;
            overflow: hidden;
            padding-left: 0;
        }

        .mini-icon {
            display: block;
        }

        .mini-text {
            display: none;
        }

        .v-list {
            padding: 14px !important;
        }

        .left-sidebar:hover {
            box-shadow: $box-shadow !important;

            .mini-icon {
                display: none;
            }

            .mini-text {
                display: block;
            }
        }

        .v-navigation-drawer--expand-on-hover:hover {
            .logo {
                width: 100%;
            }

            .v-list .v-list-group__items,
            .hide-menu {
                opacity: 1;
            }
        }
    }
}

.scroll-navbar {
    height: calc(100vh - 190px);

    .v-list-group__items .v-list-item,
    .v-list-item {
        border-radius: $border-radius-root;
        padding-inline-start: calc(12px + var(--indent-padding) / 10) !important;

        margin: 0 0 2px;

        &:hover {
            color: rgb(var(--v-theme-primary));
        }

        .v-list-item__prepend {
            margin-inline-end: 13px;
        }

        .v-list-item-title {
            font-size: 0.875rem;
        }
    }
}

// Scrollbar 
.ps__rail-y {
    z-index: 9;
}
